BasedOnStyle: WebKit

FixNamespaceComments: true
ColumnLimit: 100
BinPackArguments: false
BinPackParameters: false
AlwaysBreakTemplateDeclarations: Yes
NamespaceIndentation: None
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
